input[type='text'] {
  text-align: left;
  margin-left: 1rem;
}

label {
  padding: 0.5rem 0;
}

select {
  padding: 6px 10px;
  color: #e0e0e0;
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  border: 2px solid #4e4e4e;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

select.store-fields,
span.store-fields {
  margin-left: 1rem;
}

button {
  padding: 6px 10px;
  color: #e0e0e0;
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  border: 2px solid #4e4e4e;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-left: 0;
}

button {
  margin-left: 1rem;
}

.admin-page {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.store-select-container {
  min-width: 250px;
  width: 100%;
}

.store-select-container button {
  margin-left: 1rem;
}

.edit-store-form {
  display: flex;
  flex-direction: column;
}

.edit-store-form button {
  float: right;
}

.admin-form-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.form-actions button {
  text-align: center;
  margin-top: 1rem;
}

.admin-form-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
}

.admin-form-row label {
  text-align: right;
  font-weight: 500;
}

.store-fields {
  width: 100%;
  max-width: 250px;
}

.store-number-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
}
.error {
  border: 2px solid #e74c3c;
}
.field-error {
  color: #e74c3c;
  font-size: 0.9em;
  margin-top: 2px;
}

.btn-logout {
  float: right;
}

@media (max-width: 550px) {
  .admin-form-row {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .admin-form-row label {
    text-align: center;
    padding-bottom: 0;
  }
  .admin-form-row .store-fields,
  .admin-form-row input[type='text'],
  .admin-form-row select,
  .store-number-display {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 250px;
  }
  .admin-form-row span {
    display: flex;
    margin: 0 10% 0 auto;
    text-align: center;
  }
}
